<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1079403434553-dj4o2tf8mht4shs53t96ce6pbm7mqnoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079403434553-dj4o2tf8mht4shs53t96ce6pbm7mqnoa</string>
	<key>API_KEY</key>
	<string>AIzaSyA9GdP4uiEYJEgufY03m8bxUbVswjWN0vM</string>
	<key>GCM_SENDER_ID</key>
	<string>1079403434553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thandoncube.allnations-app</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-9ead8</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-9ead8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079403434553:ios:bba4b1c8375dc0b7</string>
	<key>DATABASE_URL</key>
	<string>https://twitter-clone-9ead8.firebaseio.com</string>
</dict>
</plist>